* {
    /* border: 2px solid greenyellow;  */
    box-sizing: border-box;
    font-family: 'anton', 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    /* --ghost-border-lower: 0px 0px 8px 2px white, inset 0px 0px 8px 2px white; */
    --ghost-border: 0px 0px 8px 2px white;
    --back-transparent: rgba(208, 214, 211, 0.486);
    --front-transparent: rgba(185, 187, 186, 0.8);
}

/*This is the horiozntal line*/
.divider {
    width: 40vw;
    margin: auto;
    box-shadow: var(--ghost-border);
}

/*Removing Scrollbar For Aesthetics*/
::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("images/homeImages/starsBackground.jpg");
    /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover;
    /* Cover the entire viewport */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Do not repeat the background image */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

.btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*------------------CODE FOR CHATBOX------------------*/
.chat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 640px;
    width: auto;
    height: auto;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--back-transparent);
}

.chat .formgroup input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
    text-align: center;
    width: 200px;
    margin: 3px auto;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--front-transparent);
    font-size: 18px;
}

.chat .formgroup textarea {
    display: block;
    text-align: center;
    width: 200px;
    resize: vertical;
    max-height: 200px;
    margin: 3px auto;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    background-color: var(--front-transparent);
}



/*------------------CODE FOR CHATBOX------------------*/
/*To Make Sure NavBar Stays On Top*/
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 10vh;
}

header .navbar {
    /* background-color: var(--back-transparent); */
    background-color: black;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

header #navLogo img {
    height: 100px;
}


header .divider {
    box-shadow: var(--ghost-border);
}

/*------------------CODE FOR MAIN SECTION------------------*/
main {
    padding-top: 100px;
}

.section-1 {
    height: 90vh;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-1 .image-div {
    float: right;
    width: 300px;
    height: 300px;
    margin: 20px;

    overflow: hidden;
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.section-1 .image-div:hover {
    transform: scale(1.01);
    border-color: white;
    box-shadow: var(--ghost-border);

}

.section-1 .image-div #dp {
    width: 100%;
    /* Use 100% for width */
    height: 100%;
    /* Use 100% for height */
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    max-width: 100%;
    /* Limit maximum width */
    max-height: 100%;
    /* Limit maximum height */
    justify-content: center;
    align-items: center;

}

.section-1 .image-div .overlay {
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 40px;
    text-align: center;

}

.image-div:hover #dp {
    filter: grayscale(80%);
}

.image-div:hover .overlay {
    opacity: 1;
}

/*------------------CODE FOR MAIN FOOTER------------------*/

footer {
    width: 100%;
    z-index: 1000;
    height: 10vh;
}

footer .navbar {
    /* background-color: var(--back-transparent); */
    background-color: black;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

footer #navLogo img {
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

footer #socials i {
    padding: 8px;
    margin: 0 8px 0 8px;
    color: white;
    border-radius: 4px;
}

footer #socials i:hover {
    color: black;
    background-color: white;
}